html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: #FFCB05;
}

a:hover {
    color: #ffd943;
}

#content {
    width: 52%;
    /* transform: translate(-50%, -50%); */
    max-width: 700px;
    max-width: 700px;
    padding: 32px;
    line-height: 1.6em;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-evenly; /* Even spacing between icons */
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
    gap: 1em; /* Add spacing between rows */
}

.icons li {
    display: inline-flex;
    width: 42px;
    justify-content: center;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: white;
}

.icons a:hover {
    color: #1565c0;
}
  
/* Make HR full width and logo match that width */
#content hr {
    width: 100%;
}

#content img {
    display: block;
    width: 100%;
    height: auto;
    margin: 1em 0;
}
